body {
  background-color: smokewhite;
}

nav.navbar {
  background-color: #2bb9ef;
}

.image-container {
  width: 300px;
  height: 100px;
  overflow: hidden;
}

ul {
  list-style: none;
}

.input-text {
  height: 50px;
  border: none;
  border-bottom: 2px solid black;

}

.hero-image {
  width: 100vw;
  height: 500px;
}

.thumbnail {
  padding-bottom: 10px;
}

.user-info-edit {

}

.container {
  margin-top: 40px;
}
#registration {
  margin-left: 100px;
}

.registration {
  margin-top: 20px;
  background-color: whitesmoke;
  position: absolute;
  z-index: 100;
  padding: 20px;
}

.user {
  height: 500px;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.input-group input {
  border-radius: 0px;
}

.user-container {
  border: 2px solid lightgrey;
}

.btn {
  transition: 0.3s;
}

.header-name {
  text-align: center;
}

.avatar {
  padding-top: 20px;
}

.audio-container {
  margin-top: -100px;
  background-color: #C6C6C6;
}

.center-text {
  text-align: center;
}
.image-container {
  margin: 0 auto;
}

.image-container img {
  padding-top: 20px;
}
.main-container {
  margin-top: 40px;
}
.heading-space {
  margin-top: 20px;
}

li {
  text-align: center;
}

.user-container:hover {
  transition: 0.3s;
  transform: scale(1.05);
  -webkit-box-shadow: 0px 10px 34px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 34px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 34px -9px rgba(0,0,0,0.75);
}

.message-container {
  margin-top: 10px;
  padding: 14px;
  background-color: aliceblue;

}
.message-input-container {
  padding: 14px;
  background-color: aliceblue;
}
.user-name, .registration, .audio-container, .user-info {
  background-color: aliceblue;
  padding: 14px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 10px 26px -11px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 26px -11px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 26px -11px rgba(0,0,0,0.75);
}

.user-container {
  transition: 0.3s;
  cursor: pointer;
  height: 260px;
  overflow: hidden;
  background-color: white;
  margin-bottom: 10px;
  border: none;
  border-radius: 6px;
  -webkit-box-shadow: 0px 10px 26px -11px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 10px 26px -11px rgba(0,0,0,0.75);
box-shadow: 0px 10px 26px -11px rgba(0,0,0,0.75);

}

.skills-container {
  margin-top: 40px;
  margin-left: 100px
}
ul {
  padding: 0;
}
